<VirtualHost *:{{ http_port }}>
	ServerAdmin webmaster@localhost
	ServerName {{ http_host }}
	DocumentRoot /var/www/{{ http_host }}/wordpress
	
	<Directory /var/www/{{ http_host }}/wordpress>
		Options Indexes FollowSymLinks
		AllowOverride all
		Require all granted
	</Directory>
</VirtualHost>
